{% set noEvent = getItem('universalcalendaritems', '-KfwaBoOHN2NvXy7q4V6') %}

<div class="section__content--contained calendar__container">

  <div class="calendar__filter">
  {% spaceless %}
    {% for filterItem in dates|sort('start_date')|groupBy('start_date') %}
      {% set filterText = loop.key|date('M j') %}
      {% set filterUrl = filterText|lower|replace('\|','-','g')|replace(' ','-','g') %}
      {% for date in filterItem %}
        {% set date.dayId = filterUrl %}
      {% endfor %}
      <a href="#{{ filterUrl }}" class="calendar__day-group initial">{{ loop.key|date('F j') }}</a>
    {% endfor %}
  {% endspaceless %}
  </div>

  {% for date in dates %}

    {% if date.start_date %}
      {% set date.hasDate = true %}
    {% else %}
      {% set date.hasDate = false %}
    {% endif %}

    {% set date.fullName = date.name %}
    {% set date.colonPos = date.fullName.indexOf(':') + 1 %}
    {% set date.lastCharPos = date.fullName.length %}
    {% set date.editedName = date.fullName|slice(date.colonPos, date.lastCharPos) %}

    {% set date.groupName = date.universal__calendar_item_groups.name %}

  {% endfor %}


  {% for dateGroup in dates|groupBy('groupName') %}

    <div class="calendar__date-group">

    {% set dateGroupName = loop.key %}

    {% for date in dateGroup %}

      <div class="calendar__item {{ date.dayId }}">
        {% if date.end_time %}
          <div class="calendar__dates">
            <div class="calendar__date">
            {% if date.start_time|date('a') === date.end_time|date('a') %}
              <h4 class="calendar__month">{{ date.start_time|date('a') }}</h4>
              {% if date.start_time|date('i') === '00' %}
                <h1 class="calendar__day">{{ date.start_time|date('g') }}<span>-</span>{{ date.end_time|date('g') }}</h1>
              {% else %}
                <h1 class="calendar__day">{{ date.start_time|date('g:i') }}<span>-</span>{{ date.end_time|date('g:i') }}</h1>
              {% endif %}
            {% else %}
              <h4 class="calendar__month">{{ date.start_time|date('a') }}/{{ date.end_time|date('a') }}</h4>
              {% if date.start_time|date('i') === '00' %}
                <h1 class="calendar__day">{{ date.start_time|date('g') }}<span>-</span>{{ date.end_time|date('g') }}</h1>
              {% else %}
                <h1 class="calendar__day">{{ date.start_time|date('g:i') }}<span>-</span>{{ date.end_time|date('g:i') }}</h1>
              {% endif %}
            {% endif %}
            </div>
          </div>
        {% elseif date.start_time %}
          <div class="calendar__dates">
            <div class="calendar__date">
              <h4 class="calendar__month">{{ date.start_date|date('a') }}</h4>
              {% if date.start_time|date('i') === '00' %}
                <h1 class="calendar__day">{{ date.start_time|date('g') }}</h1>
              {% else %}
                <h1 class="calendar__day">{{ date.start_time|date('g:i') }}</h1>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="calendar__text">
          <h3 class="calendar__title" {% if date.description %}data-description-exists{% endif %}>{{ date.editedName }}{% if date.description %}<span class="calendar__toggle">{% include "templates/partials/icons/arrow--up-small.svg" %}</span>{% endif %}</h3>
          {% if date.description %}
            <div class="calendar__description">{{ date.description|safe }}</div>
          {% endif %}
          {% if date.related_links %}
            <ul class="calendar__links">
              {% for link in date.related_links %}
                <li class="calendar__link button"><a href="{{ link.link_url }}" {{ openExternalLinkInNewWindow(link.link_url) }}>{{ link.link_text }}<span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

    {% endfor %}

    </div>

  {% endfor %}

    <div class="calendar__item calendar__item--no-event">
      <div class="calendar__text">
        <h3 class="calendar__title">{{ noEvent.name }}</h3>
        <div class="calendar__description">{{ noEvent.description|safe }}</div>
      </div>
    </div>

</div>
