{% set notification = {
    active: cms.home.notification_active,
    notification: cms.home.notification,
    background_color: cms.home.notification_background_color,
    text_color: cms.home.notification_text_color,
  }
%}

{% include 'node_modules/@risd/component-notification/template.swig' with notification only %}

{% set nav = cms.navigation %}
{% set sections = nav.sections %}

{% set currentUrl = getCurrentUrl() %}

{% set navItems = [] %}

{% for section in sections %}
  {% set activePageInSection = false %}
  {% set subItems = [] %}

  {% for page in section.pages %}
    {% set pageUrl = url(page) %}
    {% set pageClassName = 'main-nav__page-link' %}
    {% if currentUrl === pageUrl %}
      {% set pageClassName = pageClassName + ' main-nav__page--active' %}
      {% set activePageInSection = true %}
    {% endif %}
    {% set subItems = subItems.concat([{
      text: page.name,
      url: pageUrl,
      className: pageClassName,
    }]) %}
  {% endfor %}
  
  {% set sectionClassName = 'main-nav__section-heading' %}
  {% set sectionUrl = url(section) %}
  {% if currentUrl === sectionUrl %}
    {% set sectionClassName = sectionClassName + ' main-nav__section--active' %}
  {% endif %}
  {% set navItems = navItems.concat([{
    text: section.name,
    className: sectionClassName,
    subitems: subItems,
  }]) %}
{% endfor %}

{% set usefulLinks = [] %}
{% for usefulLink in nav.useful_links %}
  {% set usefulLink.className = 'main-nav__useful-link' %}
  {% set usefulLinks = usefulLinks.concat([usefulLink]) %}
{% endfor %}

{% if usefulLinks|size > 0 %}
  {% set usefulLinksItem = {
    text: nav.useful_links_text,
    className: 'main-nav__useful-links-heading',
    subitems: usefulLinks,
  } %}
  {% set navItems = navItems.concat([usefulLinksItem]) %}
{% endif %}

{% react "Nav" with {
  siteTitle: "Welcome",
  homepageUrl: "/",
  hasSearch: false,
  items: navItems
} %}
