{#
  Expects
  video_title : String,
  video_list : [
    {
      video_url : String,
      video_text : String,
      show_video : String,
      video : {
        html : EmbedCode
      },

    }
  ]
#}

{% for video in video_list %}
  {% if loop.first %}
  <div class="home-module--full home-module__videos">
    {% if video_title %}
      <h2 class="home-module__videos-title">{{ video_title }}</h2>
    {% endif %}
    <div class="home-module__videos-wrapper">
  {% endif %}

  {% if video.show_video %}
    <div class="home-module__videos-video">
      {% if video.video.html %}
      <div class="home-module__videos-video-wrapper">
        {{ video.video.html|safe }}  
      </div>
      {% endif %}
      
      {% if video.video_url %}
      <a class="home-module__video-link" href="{{ video.video_url }}" {{ openExternalLinkInNewWindow(video.video_url) }}>
      {% endif %}

      {% if video.video_text %}
        <h3 class="home-module__video-title">{{ video.video_text }}</h3>
      {% endif %}

      {% if video.video_url %}
      </a>
      {% endif %}
    </div>
  {% endif %}

  {% if loop.last %}
    </div>
  </div>
  {% endif %}
{% endfor %}