:root {
  --block-padding: 2rem;
  --home-statement-quote-before-margin-top: -12px;
}

.home {
  display: flex;
  flex-wrap: wrap;
}

.home__hero {
  width: 100%;
  height: 100vh;
  line-height: 0;
  position: relative;

  img {
    width: 100%;
  }
}

.home__hero--center {
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.home__hero-text {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.home__hero-caption {
  @extend %sans-serif;
  @include text-size($hero-caption);
  color: var(--pop-color);
  letter-spacing: 2px;
  flex-basis: 100%;
  margin-bottom: 0.6rem;
  padding: 0 1rem;
  text-align: center;

  @include respond-above(medium) {
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
  }

  @include respond-above(large) {
    margin-bottom: 0.9rem;
    letter-spacing: 0;
  }

  @include respond-above(huge) {
    margin-bottom: -1rem;
    letter-spacing: -5px;
  }
}

.home__hero-lockup-wrapper {
  text-align: center;
  max-width: calc(100% - (2 * var(--block-padding)));
}

.home__hero-lockup {
  max-width: 100%;
  filter: drop-shadow(5px 5px 5px #00000070);
}

.home__hero--desktop {
  display: none;

  @include respond-above(medium) {
    display: block;
  }
}

.home__hero--mobile {
  display: block;

  @include respond-above(medium) {
    display: none;
  }
}

.home__hero-button {
  flex-basis: 100%;
  text-align: center;

  &.button a {
    @extend %sans-serif;
    @include text-size($serif-l);
    margin-top: var(--block-padding);
    color: $text-color;
    background-color: $pop-color;
    padding: 0.3em 0.5em;
    display: inline-block;
    border-bottom: none;
    transition: background-color 0.2s ease;

    &:hover {
      color: $text-color;
      background-color: $background-color;
    }
  }

}

.home-module {
  display: flex;
  overflow: hidden;

  // @include respond-below(medium) {
  //   &:nth-child( 1 )  { order: 2; }
  //   &:nth-child( 2 )  { order: 1; }
  //   &:nth-child( 3 )  { order: 3; }
  //   &:nth-child( 4 )  { order: 5; }
  //   &:nth-child( 5 )  { order: 4; }
  //   &:nth-child( 6 )  { order: 6; }
  //   &:nth-child( 7 )  { order: 7; }
  //   &:nth-child( 8 )  { order: 9; }
  //   &:nth-child( 9 )  { order: 8; }
  //   &:nth-child( 10 ) { order: 10; }
  // };

  &:last-child {
    // border-top: 2px solid $pop-color;
    // border-bottom: none;
  }

}

.home-module--full {
  flex-basis: 100%;
}

.home-module--half {
  flex-basis: 100%;
  box-sizing: border-box;
  // border-bottom: 1px solid $pop-color;

  @include respond-above(medium) {
    flex-basis: 50%;
  };

  &:nth-child(2n) {
    // border-left: 1px solid $pop-color;
  }
}

// Statement
.home-module__statement {
  background-color: var(--pop-color);
  padding: var(--block-padding);

  p {
    @extend %sans-serif;
    @include text-size($home-body-text);
    font-weight: bold; 
    max-width: 30em;
  }
}

// Statement quote
.home-module__statement-quote {
  background-color: var(--pop-color);
  padding: 3rem var(--block-padding) 2rem var(--block-padding);

  @include respond-above(medium) {
    padding: 5rem var(--block-padding) var(--block-padding) var(--block-padding);    
  }

  .home-module__statement-quote-wrapper {
    position: relative;
    margin: 0 auto;
  }

  .home-module__statement-quote-wrapper:before {
    position: relative;
    @extend %sans-serif;
    @include text-size($sans-xxxxl);
    font-weight: bold;
    display: block;
    text-align: left;
    content: "“";
    color: var(--button-white);

    @include respond-above(base) {
      line-height: 0.3;
      margin-left: -5px;
    }

    @include respond-above(medium) {
      line-height: 0.25;
      margin-left: var(--home-statement-quote-before-margin-top);
      margin-top: 35px;
    }
  }

  .home-module__statement-quote-wrapper:after {
    position: relative;
    @extend %sans-serif;
    @include text-size($sans-xxxxl);
    font-weight: bold;
    display: block;
    text-align: right;
    content: "”";
    color: var(--button-white);

    @include respond-above(base) {
      line-height: 0.3;
      margin-top: 40px;
    }

    @include respond-above(medium) {
      line-height: 0.25;
      margin-top: 100px;
    }
  }

  p {
    @extend %sans-serif;
    @include text-size($sans-xl-v2);
    font-weight: bold;
    max-width: 20em;
  }
}

// Statement Video
.home-module__statement-video {
  background-color: var(--pop-color);
  padding: 0 var(--block-padding) var(--block-padding) var(--block-padding);

  @include respond-above(medium) {
    padding-bottom: calc(5rem + var(--home-statement-quote-before-margin-top));
  }
}

.home-module__statement-container {
  // set type spec to match the statement quote p
  // above, so they can have the same max-width
  @extend %sans-serif;
  @include text-size($sans-xl-v2);
  font-weight: bold;
  max-width: 20em;
  width: 100%;
  margin: 0 auto;
}

.home-module__statement-video-title {
  @include text-size($home-body-text);
  padding-top: 0.5rem;
}

// Text Link
.home-module__text-link {
  display: flex;
  align-items: flex-start;
  align-content: center;
  align-items: center;
  padding: var(--block-padding);
}

.home-module__text-link a {
  text-decoration: none;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.home-module__text-link-text {
  transition: color 0.2s ease;
  @extend %sans-serif;
  font-weight: bold;
  @include text-size($home-body-text);

  @include respond-above(medium) {
    @include text-size($sans-xl);
  }
}

.home-module__text-link-arrow {
  margin-right: 1rem;

  @include respond-above(medium) {
    margin-right: 2rem;
  }
}

.home-module__text-link .arrow {
  transform: scale(1.6);

  @include respond-above(medium) {
    transform: scale(3);    
  }
}

.home-module__background--white {
  background-color: var(--button-white);
  color: var(--button-black);

  & a:hover,
  & a:hover .home-module__text-link-text {
    color: var(--button-dark);
  }

  & a:hover .arrow-geometry {
    fill: var(--button-dark);
  }
}

.home-module__background--light {
  background-color: var(--button-light);
  color: var(--button-black);

  & a:hover,
  & a:hover .home-module__text-link-text {
    color: var(--button-dark);
  }

  & a:hover .arrow-geometry {
    fill: var(--button-dark);
  }
}

.home-module__background--medium {
  background-color: var(--button-medium);
  color: var(--button-black);

  & a:hover,
  & a:hover .home-module__text-link-text {
    color: var(--button-white);
  }

  & a:hover .arrow-geometry {
    fill: var(--button-white);
  }
}

.home-module__background--dark {
  background-color: var(--button-dark);
  color: var(--button-black);

  & a:hover,
  & a:hover .home-module__text-link-text {
    color: var(--button-white);
  }

  & a:hover .arrow-geometry {
    fill: var(--button-white);
  }
}

.home-module__background--black {
  background-color: var(--button-black);
  color: var(--button-dark);

  & .home-module__text-link-text {
    color: var(--button-dark);    
  }

  .arrow-geometry {
    fill: var(--button-dark);
  }

  & a:hover,
  & a:hover .home-module__text-link-text {
    color: var(--button-white);
  }

  & a:hover .arrow-geometry {
    fill: var(--button-white);
  }
}

// Image Link
.home-module__image-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-module__image-link {
  display: flex;
  flex-direction: column;
  padding: var(--block-padding);
  width: 100%;

  @include respond-above(medium) {
    width: 50%;
  }
}

.home-module__image-link-link {
  border: none;  
}

.home-module__image-link-image {
  width: 100%;
}

.home-module__image-link:nth-child(odd) {
  background-color: var(--button-white);
  color: var(--button-black);

  & a:hover .home-module__image-link-text {
    color: var(--button-dark);
  }
}

.home-module__image-link:nth-child(even) {
  background-color: var(--button-dark);
  color: var(--button-black);

  & a:hover .home-module__image-link-text {
    color: var(--button-white);    
  }
}

@include respond-above(medium) {
  .home-module__image-link:nth-child(1),
  .home-module__image-link:nth-child(4),
  .home-module__image-link:nth-child(5),
  .home-module__image-link:nth-child(8),
  .home-module__image-link:nth-child(9),
  .home-module__image-link:nth-child(12) {
    background-color: var(--button-white);
    color: var(--button-black);

    & a:hover .home-module__image-link-text {
      color: var(--button-dark);    
    }
  }

  .home-module__image-link:nth-child(2),
  .home-module__image-link:nth-child(3),
  .home-module__image-link:nth-child(6),
  .home-module__image-link:nth-child(7),
  .home-module__image-link:nth-child(10),
  .home-module__image-link:nth-child(11) {
    background-color: var(--button-medium);
    color: var(--button-black);

    & a:hover .home-module__image-link-text {
      color: var(--button-white);    
    }
  } 
}

.home-module__image-link-text {
  @include text-size($home-body-text);
  padding-top: 0.5rem;
}

// Videos
.home-module__videos {
  padding: var(--block-padding);
  background-color: var(--button-light);
}
.home-module__videos + .home-module__videos {
  background-color: var(--button-white);
}

.home-module__videos-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--block-padding);
}

.home-module__videos-video {
  width: 100%;

  @include respond-above(medium) {
    width: calc(50% - var(--block-padding));  
  }
}

.home-module__videos-video:not(:last-child) {
  margin-bottom: var(--block-padding);

  @include respond-above(medium) {
    margin-bottom: 0;  
  }
}

.home-module__videos-video:nth-child(n+3) {
  margin-top: var(--block-padding);
}

@include respond-above(medium) {
  .home-module__videos-video:nth-child(odd) {
    padding-right: var(--block-padding);
  }

  .home-module__videos-video:nth-child(even) {
    padding-left: var(--block-padding);
  } 
}

.home-module__videos-video-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  /* 9/16 = 0.5625, used for 16:9 videos
     see aspect-ratio classes below for more options */
  padding-bottom: 56.25%;
  margin-bottom: 0.5rem;
  clear: both;
  float: left;

  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

.home-module__videos-title {
  @include text-size($home-body-text);
  text-transform: uppercase;

  @include respond-above(medium) {
    @include text-size($sans-xl);
    font-weight: bold;
    letter-spacing: -0.04em;
    text-transform: none;
  }
}

.home-module__video-title {
  @include text-size($home-body-text);
}

.home-module__video-link:hover .home-module__video-title {
  color: var(--button-dark);
}
