[data-react-component='Nav'] {
  display: none;
}

[data-react-component='Nav'] li {
  @extend %sans-serif;
}

[title='Go to homepage'] {
  font-weight: 900 !important;
}

[data-react-component='Nav'] li > span {
  text-transform: none;
  display: block;
  padding: 0.5rem 1rem;
}

[data-react-component='Nav'] a {
  font-weight: bold;
  border-bottom: none;
}
[data-react-component='Nav'] nav ul > li,
[data-react-component='Nav'] nav ul > li > ul > li {
  padding: 0;
  margin-bottom: 0;
}

[data-react-component='Nav'] ul ul {
  margin-left: 2.5rem;
}

[data-react-component='Nav'] .main-nav__useful-links-heading ul {
  margin-left: 1rem;
}

[data-react-component='Nav'] nav ul > li.main-nav__section-heading > span:hover:not(.main-nav__section-toggle),
[data-react-component='Nav'] nav ul > li.main-nav__section--active > span:not(.main-nav__section-toggle) {
  background-color: rgba($pop-color, 0.7);
}

[data-react-component='Nav'] ul li > a,
[data-react-component='Nav'] ul li.main-nav__page--active > a {
  &:hover {
    text-decoration: none;
    color: $pop-color;
  }
}

[data-react-component='Nav'] ul li.main-nav__page--active > a {
  color: $pop-color;
}

.main-nav__home-link {
  // text-transform: uppercase;
}

.main-nav__home-link a {
  padding: 0.5rem 1rem;
}

.main-nav__section-heading {
  position: relative;
  cursor: pointer;
}

.main-nav__section-heading span span {
  text-transform: none;
  width: 86%;
  display: inline-block;
}

.main-nav__section-heading {

}

.main-nav__section-heading > ul {
  display: none;
}

.main-nav__section--opened.main-nav__section-heading ul {
  display: block;
}

.main-nav__useful-links-heading ul > li > a {
  display: block;
}

.main-nav__useful-link a {
  width: 90%;
}

.main-nav__section-toggle {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  transition: transform 0.28s ease;
  pointer-events: none;
}

.main-nav__section-toggle .toggle-geometry {
  stroke: $text-color;
}

.main-nav__section--opened .main-nav__section-toggle {
  transform: rotate(0deg) translate(5px, -1px);
}

.main-nav__useful-links-heading {
  color: $pop-color;
  margin-top: 1.5rem;
}

.main-nav__useful-link {
  position: relative;
}

.main-nav__useful-link:hover a {
  color: $pop-color;
  text-decoration: none;
}

.main-nav__useful-link a,
.main-nav__useful-link a:focus,
.main-nav__useful-link a:link,
.main-nav__useful-link a:visited,
.main-nav__useful-link a:hover,
.main-nav__useful-link a:active {
  text-decoration: none;
}

.main-nav__useful-link-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 22px;
  height: 28px;
  transform-origin: 50% 50%;
  transform: rotate(-45deg) translate(3px, -4px);
}

.main-nav__useful-link-icon .external-geometry {
  transition: fill 0.2s ease, stroke 0.2s ease;
  stroke: $text-color;
}

.main-nav__useful-link:hover .external-geometry {
  stroke: $pop-color;
  fill: $pop-color;
}
