.section--full {
  width: 100%;
  box-sizing: border-box;
}

// Only show the first calendar filter on the page
.section--full.calendar + .section--full.calendar .calendar__filter {
  display: none;
}

.section--contained,
.section__content--contained {
  margin: auto;
  width: 90%;
  @include respond-above(small) {
    width: 80%;
  }
  @include respond-above(medium) {
    width: 70%;
  }
  @include respond-above(large) {
    width: 60%;
  }
  @include respond-above(huge) {
    width: 50%;
  }
}

.section--green {
  background-color: $pop-color;
}

.section--white {
  background-color: $background-color;
}

.page__hero-image {
  display: block;
  margin-bottom: 0;
}

.page__hero--desktop {
  display: none;
  height: 100%;
  background-size: cover;
  background-position: top;
  @include respond-above(medium) {
    display: block;
  }
}

.page__hero--mobile {
  display: block;
  @include respond-above(medium) {
    display: none;
  }
}

.page__hero {
  width: 100%;

  @include respond-above(medium) {
    height: 75vh;
  }

  img {
    width: 100%;
  }
}

.page__footer-hero {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
  }
}

.page__hero--center {
  height: 100%;
  background-size: cover;
}

.page__edge-images {
  display: flex;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.page__edge-image {
  mix-blend-mode: multiply;
  width: 50%;
  position: relative;
  @include respond-below(medium) {
    top: 0 !important;
    float: none !important;
  }
  @include respond-above(medium) {
    width: 20%;
    position: fixed;
  }
  @include respond-above(large) {
    width: 20%;
  }
  @include respond-above(huge) {
    width: 30%;
  }

  img {
    margin-bottom: 1rem;
  }
}

.page__edge--left {
  z-index: -500;
  left: 0;
  img {
    float: left;
  }
}

.page__edge--right {
  z-index: -500;
  right: 0;
  img {
    float: right;
  }
}

.page__edge-caption {
  padding: 1rem;
  border: 2px solid $pop-color;
  display: inline-block;
  margin: 1rem;
  clear: both;

  @include respond-above(medium) {
    // border: 2px solid $pop-color;
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0;
    @include text-size($serif-xs);
  }

  strong {
    @extend %sans-serif;
    @extend %small-caps;
    @include text-size($sans-xs);
  }

  i {
    @include text-size($serif-xs);
  }
}

.page__edge-caption--left {
  margin-left: 5vw;
  float: left;

  @include respond-above(medium) {
    margin-left: 1rem;
  }
}

.page__edge-caption--right {
  margin-right: 5vw;
  float: right;

  @include respond-above(medium) {
    margin-right: 1rem;
  }
}

.page__title-wrapper {
  padding-top: calc(var(--nav-height) + 3rem);
}

.page__title {
  color: $pop-color;
  text-align: center;
}

.section--green .page__title {
  color: $text-color;
}

.page__description-container {
  padding: 3rem 0 0 0;
  margin-bottom: 0;

  width: 100% !important;

  &:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.page__description {
  p {
    @extend %sans-serif;
    font-weight: bold;
    @include text-size($sans-l);

    & + p {
      margin-top: 1rem;
    }
  }

  a {
    .section--green & {
      color: $text-color;
      border-bottom: 2px solid $background-color;

      &:hover {
        color: $background-color;
      }
    }

    .section--white & {
      color: $text-color;
      border-bottom: 2px solid $pop-color;

      &:hover {
        color: $pop-color;
      }
    }
  }
}
