{% extends "templates/partials/base.html" %}

{% block title %}
  {% parent %}
  {% set site_title = [item.name, site_title]|join(' | ') %}
{% endblock %}

{% block content %}

  <main class="page__wrapper">

    {% if item.hero_image %}
    <section class="section--full page__hero">
      <div class="page__hero--desktop" style="background-image: url({{ item.hero_image|imageSize(1200) }})"></div>
      <img src="{{ item.hero_image|imageSize(1200) }}" alt="" class="page__hero--mobile">
    </section>
    {% endif %}

    <section class="section--full">
      <div class="section__content--contained page__title-wrapper">
        <h2 class="page__title">{{ item.name }}</h2>
      </div>
    </section>

    {% for page in item.pages %}
      {% if loop.first %}
        <section class="section--full">
          <div class="section__content--contained section__link-list-wrapper">
            <ul class="section__link-list">
      {% endif %}

        <li class="section__link-list-item">
          <span class="section__link-list-icon">
            {% include 'templates/partials/icons/arrow--naked.html' %}
          </span>
          <span class="section__link-list-text">
            <a href="{{ url(page) }}">{{ page.name }}</a>
          </span>
        </li>

      {% if loop.last %}
            </ul>
          </div>
        </section>
      {% endif %}
    {% endfor %}

  </main> <!-- .page__wrapper closes -->
{% endblock %}
