{% extends "templates/partials/base.html" %}

{% set hide_footer_nav = true %}

{% block title %}
  {% parent %}
  {% set site_title = [item.name, site_title]|join(' | ') %}
{% endblock %}

{% block content %}

  <main class="page__wrapper">

    {% if item.hero_image or item.mobile_hero_image %}
    <section class="section--full page__hero">
      {% if item.hero_image %}
      <div class="page__hero--desktop" style="background-image: url({{ item.hero_image|imageSize(1200) }})"></div>
      {% endif %}
      {% if item.mobile_hero_image %}
        <img src="{{ item.mobile_hero_image|imageSize(600) }}" alt="" class="page__hero--mobile">
      {% endif %}
    </section>
    {% endif %}

    <section class="section--full">
      <div class="section__content--contained page__title-wrapper">
        <h2 class="page__title">{{ item.name }}</h2>
      </div>
    </section>

    {% if item.pages %}
      <section class="section--full">
        <div class="section__content--contained section__link-list-wrapper">
      
        {% set link_list = [] %}
        {% for page in item.pages %}
          {% set link_url = url(page) %}
          {% set link = {
            link_text: page.name,
            link_url: link_url,
          } %}
          {% set link_list = link_list.concat([link]) %}
        {% endfor %}
        
        {% include "templates/partials/link-list.html" %}
        
        </div>
      </section>
    {% endif %}

  </main> <!-- .page__wrapper closes -->
{% endblock %}
