{% extends "templates/partials/base.html" %}

{% block content %}

  <main>
    <section class="section--contained not-found">
      <figure class="not-found__emoji">
        <img src="/static/images/ios_ghost.png"/>
      </figure>
      <h1 class="not-found__title">
        Page not found!
      </h1>
      <figure class="not-found__emoji">
        <a class="not-found__emoji-link" href="/"><img src="/static/images/ios_home.png"/></a>
        <figcaption>Emoji designed by Willem Van Lancker [BFA 10/Graphic Design]</figcaption>
      </figure>
    </section>
  </main>

{% endblock %}
