{# ------------------------------------------------------- #}
{# ONE OFF VIEW home #}
{# This page can use any data from http:localhost:2000/cms/#/form/home/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this home's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.home.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.home.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.home.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.home.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.home.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Global Notification: </strong>
        {{ cms.home.global_notification }}
      </li>
      <li>
        <strong>Notification Active: </strong>
        {{ cms.home.notification_active }}
      </li>
      <li>
        <strong>Notification: </strong>
        {{ cms.home.notification|safe }}
      </li>
      <li>
        <strong>Notification Background Color: </strong>
        {{ cms.home.notification_background_color }}
      </li>
      <li>
        <strong>Notification Text Color: </strong>
        {{ cms.home.notification_text_color }}
      </li>
      <li>
        <strong>Hero Carousel Images: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.home.hero_carousel_images %}
            <li>
              <strong>Image: </strong>
              {# You can pull out a lot more information from the image property. Info here: #}
                {# http://www.webhook.com/docs/widget-template-reference/#image #}
                <img src="{{ row.image|imageSize(200, 200) }}" />
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.home.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.home.slug }}
      </li>
      <li>
        <strong>Statement Fields: </strong>
        {{ cms.home.statement_fields }}
      </li>
      <li>
        <strong>Show Statement: </strong>
        {{ cms.home.show_statement }}
      </li>
      <li>
        <strong>Statement: </strong>
        {{ cms.home.statement|safe }}
      </li>
      <li>
        <strong>Show Statement Quote: </strong>
        {{ cms.home.show_statement_quote }}
      </li>
      <li>
        <strong>Statement Quote: </strong>
        {{ cms.home.statement_quote|safe }}
      </li>
      <li>
        <strong>Show Statement Video: </strong>
        {{ cms.home.show_statement_video }}
      </li>
      <li>
        <strong>Statement Video: </strong>
        {# Embed.ly content usually comes with more data. Info here: #}{# http://www.webhook.com/docs/widget-template-reference/#embedly #}{{ cms.home.statement_video.html|safe  }}      </li>
      <li>
        <strong>Text Links 1: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.home.text_links_1 %}
            <li>
              <strong>Text Link: </strong>
              {{ row.text_link }}
            </li>
            <li>
              <strong>Text Link URL: </strong>
              {{ row.text_link_url }}
            </li>
            <li>
              <strong>Text Link Color: </strong>
              {{ row.text_link_color }}
            </li>
            <li>
              <strong>Show Text Link: </strong>
              {{ row.show_text_link }}
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Image Links: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.home.image_links %}
            <li>
              <strong>Image Text: </strong>
              {{ row.image_text }}
            </li>
            <li>
              <strong>Image URL: </strong>
              {{ row.image_url }}
            </li>
            <li>
              <strong>Image: </strong>
              {# You can pull out a lot more information from the image property. Info here: #}
                {# http://www.webhook.com/docs/widget-template-reference/#image #}
                <img src="{{ row.image|imageSize(200, 200) }}" />
            </li>
            <li>
              <strong>Show Image Link: </strong>
              {{ row.show_image_link }}
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Video Fields: </strong>
        {{ cms.home.video_fields }}
      </li>
      <li>
        <strong>Show Videos: </strong>
        {{ cms.home.show_videos }}
      </li>
      <li>
        <strong>Video Title: </strong>
        {{ cms.home.video_title }}
      </li>
      <li>
        <strong>Videos: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.home.videos %}
            <li>
              <strong>Video Text: </strong>
              {{ row.video_text }}
            </li>
            <li>
              <strong>Video URL: </strong>
              {{ row.video_url }}
            </li>
            <li>
              <strong>Video: </strong>
              {# Embed.ly content usually comes with more data. Info here: #}{# http://www.webhook.com/docs/widget-template-reference/#embedly #}{{ row.video.html|safe  }}            </li>
            <li>
              <strong>Show Video: </strong>
              {{ row.show_video }}
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Text Links 2: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.home.text_links_2 %}
            <li>
              <strong>Text Link: </strong>
              {{ row.text_link }}
            </li>
            <li>
              <strong>Text Link URL: </strong>
              {{ row.text_link_url }}
            </li>
            <li>
              <strong>Text Link Color: </strong>
              {{ row.text_link_color }}
            </li>
            <li>
              <strong>Show Text Link: </strong>
              {{ row.show_text_link }}
            </li>
        {% endfor %}
        </ul>
      </li>
  </ul>
{% endblock %}
