{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

  {% include "templates/partials/modal--site-context.html" %}

  {% set home = cms.home %}

  <main class="page__wrapper">

    {# Poster Moment Gallery Specification --- Start #}

    {% set gallery_spec = [] %}
    {% for row in home.hero_carousel_images %}
      {% set background_class_name = 'home__hero-background--' + loop.index0 %}

      {% set gallery_spec = gallery_spec.concat([{
          background_image: {
            querySelector: '.home__hero--center',
            class: background_class_name,
            image: row.image,
          },
        }]) %}
    {% endfor %}

    {% include 'templates/partials/gallery-styles.html' with { galleryStylesFromGallerySpec: gallery_spec } only %}

    {% if gallery_spec|size > 0 %}
      {% set first_gallery_spec = gallery_spec[0] %}
      {% set hero_image_container_class = first_gallery_spec.background_image.class %}
    {% else %}
      {% set hero_image_container_class = '' %}
    {% endif %}

    {# Poster Moment Gallery Specification --- End #}

    <section class="section--full home__hero">
      <div class="home__hero--center {{ hero_image_container_class }}" data-gallery-spec='{{ gallery_spec|json }}'></div>
      <div class="home__hero-text">
        <div class="home__hero-lockup-wrapper home__hero--desktop">
          {% include 'templates/partials/home-hero/header-lockup--desktop.svg' %}
        </div>
        <div class="home__hero-lockup-wrapper home__hero--mobile">
          {% include 'templates/partials/home-hero/header-lockup--mobile.svg' %}
        </div>
        {% if home.deposit_button_url && home.deposit_button_text %}
          <div class="home__hero-button button">
            <a href="{{ home.deposit_button_url }}">{{ home.deposit_button_text }} <span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a>
          </div>
        {% endif %}
      </div>
    </section>

    {% set imageDimension = {
      width: 1200,
      height: 600,
    } %}

    <section class="section--full home">

      {% if home.show_statement and home.statement and
            !home.show_statement_quote and
            !home.show_statement_video %}
      <div class="home-module home-module--full home-module__statement">
        {{ home.statement|safe }}
      </div>
      {% endif %}
      {% if home.show_statement_quote and
            home.statement_quote %}
      <div class="home-module home-module--full home-module__statement-quote">
        <div class="home-module__statement-quote-wrapper">
          {{ home.statement_quote|safe }}
        </div>
      </div>
      {% endif %}
      {% if home.show_statement_video and
            home.statement_video and
            home.statement_video.html %}
      <div class="home-module home-module--full home-module__statement-video">
        <div class="home-module__statement-container">
          <div class="home-module__statement-video-wrapper home-module__videos-video-wrapper">
            {{ home.statement_video.html|safe }}
          </div>
          {% if home.statement_video_url %}
            <a class="home-module__statement-video-url" href="{{ home.statement_video_url }}" {{ openExternalLinkInNewWindow(home.statement_video_url) }}>
          {% endif %}
          {% if home.statement_video_title %}
            <h3 class="home-module__statement-video-title">{{ home.statement_video_title }}</h3>
          {% endif %}
          {% if home.statement_video_url %}
            </a>
          {% endif %}
          </a>
        </div>
      </div>
      {% endif %}
        
  
      {# --- text links 1 #}
      {% for text_link in home.text_links_1 %}
        {% include 'templates/partials/text-link.html' with { text_link: text_link } only %}
      {% endfor %}

      {# --- image links #}
      {% for image_link in home.image_links %}
        {% if loop.first %}
        <div class="section--full home-module__image-links">
        {% endif %}

        {% if image_link.show_image_link %}
          <div class="home-module home-module--half home-module__image-link">

            {% if image_link.image_url %}
             <a class="home-module__image-link-link" href="{{ image_link.image_url }}" {{ openExternalLinkInNewWindow(image_link.image_url) }} >
            {% endif %}

            {% if image_link.image %}
            <img class="home-module__image-link-image" src="{{ image_link.image|imageSize(imageDimension.width) }}" alt="">
            {% endif %}

            {% if image_link.image_text %}
              <h3 class="home-module__image-link-text">{{ image_link.image_text }}</h3>
            {% endif %}

            {% if image_link.image_url %}
            </a>
            {% endif %}

          </div>
        {% endif %}

        {% if loop.last %}
        </div>
        {% endif %}
      {% endfor %}

      {% if home.show_videos and home.videos  %}
        {% set videos_spec = {
          video_title: home.video_title,
          video_list: home.videos
        } %}
        {% include 'templates/partials/home-module__videos.html' with videos_spec only %}
      {% endif %}

      {% if home.show_videos_2 and home.videos_2  %}
        {% set videos_spec = {
          video_title: home.video_2_title,
          video_list: home.videos_2
        } %}
        {% include 'templates/partials/home-module__videos.html' with videos_spec only %}
      {% endif %}

      {# --- text links 2 #}
      {% for text_link in home.text_links_2 %}
        {% include 'templates/partials/text-link.html' with { text_link: text_link } only %}
      {% endfor %}

    </section>
  </main>

{% endblock %}
