{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

  {% include "templates/partials/modal--site-context.html" %}

  {# Phase 1 - Enrollment #}
  {% if cms.phases.current_phase === "Enrollment" %}
    {% set home = cms.phase1home %}
  {# Phase 2 - Orientation #}
  {% elseif cms.phases.current_phase === "Orientation" %}
    {% set home = cms.ph2home %}
  {% endif %}

  <main>

    {# Poster Moment Gallery Specification --- Start #}

    {% set gallery_spec = [] %}
    {% for row in home.hero_carousel_images %}
      {% set background_class_name = 'home__hero-background--' + loop.index0 %}

      {% set gallery_spec = gallery_spec.concat([{
          background_image: {
            querySelector: '.home__hero--center',
            class: background_class_name,
            image: row.image,
          },
        }]) %}
    {% endfor %}

    {% include 'templates/partials/gallery-styles.html' with { galleryStylesFromGallerySpec: gallery_spec } only %}

    {% if gallery_spec|size > 0 %}
      {% set first_gallery_spec = gallery_spec[0] %}
      {% set hero_image_container_class = first_gallery_spec.background_image.class %}
    {% else %}
      {% set hero_image_container_class = '' %}
    {% endif %}

    {# Poster Moment Gallery Specification --- End #}

    <section class="section--full home__hero">
      <div class="home__hero--center {{ hero_image_container_class }}" data-gallery-spec='{{ gallery_spec|json }}'></div>
      <div class="home__hero-text">
        <div class="home__hero-lockup-wrapper home__hero--desktop">
          {% include 'templates/partials/home-hero/header-lockup--desktop.svg' %}
        </div>
        <div class="home__hero-lockup-wrapper home__hero--mobile">
          {% include 'templates/partials/home-hero/header-lockup--mobile.svg' %}
        </div>
        {% if home.deposit_button_url && home.deposit_button_text %}
          <div class="home__hero-button button">
            <a href="{{ home.deposit_button_url }}">{{ home.deposit_button_text }} <span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a>
          </div>
        {% endif %}
      </div>
    </section>

    <section class="section--full home">
    {% for module in home.grid %}
      {% set sizeClass = module.size|lower %}
      {% if module.size === "Full" %}
        {% set imageDimension = 1200 %}
      {% elseif module.size === "Half" %}
        {% set imageDimension = 600 %}
      {% elseif module.size === "Third" %}
        {% set imageDimension = 400 %}
      {% endif %}
      <div class="home-module home-module--{{ sizeClass }}">

        {# Large button #}
        {% if module.show_large_button === true %}
          <h2 class="home-module__button home-module__button--{{ module.large_button_background_color|lower }}"><a href="{{ module.large_button_link }}" target="_self">{{ module.large_button_text }}<span class="home-module__button-toggle">{% include "templates/partials/icons/arrow--clothed.html" %}</span></a></h2>
        {% endif %}

        {# Narrative Moment #}
        {% if module.show_narrative_moment === true %}
        <div class="home-module__narrative">
          {# Image #}
          {% if module.narrative_image %}
            <img class="home-module__narrative-image" src="{{ module.narrative_image|imageSize(imageDimension) }}" alt="">
          {% endif %}
          {# Video #}
          {% if module.narrative_video %}
            <div class="home-module__narrative-video">{{ module.narrative_video.html|safe }}</div>
          {% endif %}
          {# Text #}
          <div class="home-module__narrative-text">
            <h3 class="home-module__narrative-title">{{ module.narrative_title }}</h3>
            <div class="home-module__narrative-description">{{ module.narrative_description|safe }}</div>
            {# Link #}
            {% if module.narrative_link_text %}
              <div class="home-module__narrative-link button">
                <a href="{{ module.narrative_link_url }}">{{ module.narrative_link_text }}<span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a>
              </div>
            {% endif %}
          </div>

        </div>
        {% endif %}

        {# Quotation #}
        {% if module.show_quotation === true %}
        <div class="home-module__quote">
          {{ module.quotation_text|safe }}
          <cite class="home-module__quote-citation">{{ module.quotation_citation }}</cite>
        </div>
        {% endif %}

        {# Lists #}
        {% if module.show_list === true %}
        <div class="home-module__list">
          <p class="home-module__list-text">
            <span class="home-module__list-intro">{{ module.related_list.intro_line }}</span>
            {% for person in module.related_list.list_items|slice(0, 20) %}
              <a href="{{ person.link }}">{{ person.title }}</a>
              {% if loop.last %}
                <span class="home-module__list-more">…</span>
              {% endif %}
            {% endfor %}
          </p>
          <div class="home-module__list-button button">
            <a href="{{ module.list_link_url }}">{{ module.list_link_text }}<span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a>
          </div>
        </div>
        {% endif %}

      </div>
    {% endfor %}

      {# Contact #}
      {% if home.contact_link_text and home.contact_link_url %}
      <div class="home-module home-module--full">
        <div class="home-module__contact">
          <p class="home-module__contact-link button"><a href="{{ home.contact_link_url }}">{{ home.contact_link_text }}<span class="button__arrow">{% include "templates/partials/icons/arrow--naked.html" %}</span></a></p>

        </div>
      </div>
      {% endif %}

    </section>

  </main>

{% endblock %}
