$text-color: #000000;
$text-color--light: rgb(171, 171, 171);
$background-color: rgb(255, 255, 255);
$pop-color: #EDC92D;
$pop-color-2: rgb(277, 110, 94);

%object-multiply{
	mix-blend-mode:multiply;
}

$button-white: #FFFFFF;
$button-light: #FBF5DB;
$button-medium: #F2DD83;
$button-dark: #EDC92D;

:root {
  --text-color: #{ $text-color };
  --text-color--light: #{ $text-color--light };
  --background-color: #{ $background-color };
  --pop-color: #{ $pop-color };
  --pop-color-2: #{ $pop-color-2 };
  --button-white: #{ $button-white };
  --button-light: #{ $button-light };
  --button-medium: #{ $button-medium };
  --button-dark: #{ $button-dark };
}
